.bonuses-wrap {
  background-color: @white-grey;
}

.bonuses {
  padding: 30px 15px;

  h1 {
    margin-bottom: 30px;
  }
}

.bonuses__content-wrap{


  .for-tablet({
    display: flex;
    justify-content: space-around;
   });

}


.courses__item p {

  .for-tablet({
    min-height: 150px;
    flex-basis: 50%;
   });
}
