.btn {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 28px;
  font-size: 14px;
  font-weight: 500;
  background-image: linear-gradient(to top, #ffd21c, #fcff00), linear-gradient(#ffd52c, #ffd52c);

  .for-desktop-up({
    width: 246px;
    height: 56px;
    border-radius: 28px;
    font-size: 17px;
    font-weight: 500;
    line-height: 1.59;
 });

}