
.features{
  display: flex;
  justify-content: space-around;
  padding-top: 35px;
  padding-bottom: 30px;
}

.features-item__label{
    font-size: 20px;
    border-radius: 32px;
    height: 64px;
    width:64px;
    text-align: center;
    line-height:60px;
    margin: 0 auto;
    margin-bottom: 12px;
    color: #fff;
    display: block;
    background-image: linear-gradient(to top, #accb4b, #cae37a);
}

.features-item {
  text-align: center;

  span {
    text-transform: uppercase;
    font-family: @comfortaa-font;
    line-height: 20px;
    font-size: 12px;
    font-weight: bold;
  }
}