
.our-teachers {
  padding: 30px 15px;
  clear: right;
  overflow: hidden;
  position: relative;

  .for-desktop-up({
    max-width: 1140px;
    margin: 0 auto;
    padding: 140px 15px;
  });
 

  h1 {
    margin-bottom: 20px;

    .for-desktop-up({
      font-size: 45px;
      font-weight: bold;
      line-height: 1.44;
      letter-spacing: 2.3px;
      margin-bottom: 40px;
    });

  }

  h2 {
    font-size: 14px;
    margin-bottom: 15px;

    .for-desktop-up({
      font-size: 20px;
      font-weight: bold;
      line-height: 1.5;
      letter-spacing: 1px;
      margin-bottom: 35px;
    });
  }

  .our-teachers_discription {
    font-size: 15px;
    color: @light-grey-font;

  }


  img {
    height: 200px;
    display: inline-block;
    border-radius: 50%;
    float: right;
    margin-top: 100px;

    .for-tablet({
      height: 300px;
      margin-top: 30px;
    });

    .for-desktop-up({
      height: 540px;
      margin: 0;
    });
  }

  p,
  .section-item {
    font-size: 16px;
    line-height: 1.59;
    text-align: left;
    color: #7b7a7a;

  }

  .fw-button{
    display: inline-block;
    position: absolute;
    right: 3%;    
    top: 34%;
    background: #fff;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    line-height: 64px;
    text-align: center;
    color: #a3a3a3;

    .for-desktop-up({  
      right: 1.5%;    
      top: 46%;

    });
    
  }

}

.our-teachers__content{
  
  p{
    max-width: 65%;
    margin-bottom: 40px;

    .for-desktop-up({
      max-width: 540px;
      font-size: 17px;
      line-height: 1.59;
      margin-bottom: 60px;
    });

  }
    
}

.section-item {
  
   .for-desktop-up({
      display: inline-block;
   });
     
  .teachers-item__label{
    font-size: 24px;
    border-radius: 32px;
    height: 64px;
    width:64px;
    text-align: center;
    line-height:60px;
    margin: 0 auto;
    margin-right: 10px;
    margin-bottom: 20px;
    color: #fff;
    display: inline-block;
    background-image: linear-gradient(to top, #accb4b, #cae37a);
  
    .for-desktop-up({
      display: inline-block;
      margin: 0;
      margin-right: 15px;
   });
  
  }
  
  span {
    max-width: 200px;  
    display: inline-block;  
    vertical-align: middle;

        .for-desktop-up({          
        text-align: left;

      });
    
  }
   
}



