//colors

@dark-grey: #3b3b3b;
@white-grey: #f4f4f4;
@light-grey-font: #7b7a7a;
@grey-font: #666666;

//fonts

@import url('https://fonts.googleapis.com/css?family=Comfortaa|Roboto:400,500,700&subset=cyrillic');
@roboto-font: 'Roboto', sans-serif;
@comfortaa-font: 'Comfortaa', cursive;




